:root {
    --heading-font-family: "Playfair Display",
        serif;
    --default-font-family: 'Poppins',
        sans-serif;
        --principal-color: black;
        --secondary-color: white;
        --bege-color: #c7b198;
}

body{
   font-family: var(--default-font-family);
   background:#e9e2d0;
   color: var(--principal-color);
}

.intro{
   background: rgba(255, 255, 255, 0.5);
   text-align: center;
   padding: 40px 20px;
   margin: 20px auto;
}

.intro h1{
    font-size: 55px;
    }

.intro .btn-home{
    background: var(--bege-color);
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    padding: 15px 30px;
    transition: all 100ms ease-in-out;

    }

.intro a:hover {
    background: var(--secondary-color) ;
    color: var(--bege-color);
}
       
.hero-section {
    padding: 20px 40px;
}


h1{
    font-family: var(--heading-font-family);
    font-size: 44px;
}

h2 {
    font-size: 24px;
}

h3{
    font-size: 22px
}

p {
    font-size: 16px;
    line-height: 2.5;
    text-align: justify;
    color: var(--principal-color);
}

.hero-section img{
    max-width: 300px;
    display: block;
    margin: 50px auto;
}


.navigation-bar a{
    color: var(--secondary-color);
    font-size: 18px;
}


.navigation-bar a:hover {
    color: var(--bege-color);
}


.social-links a {
    margin: 0 20px;
    color: var(--principal-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 28px;
    transition: all 100ms ease-in-out;
}

.social-links a:hover {
    color: var(--secondary-color);
    background: var(--principal-color);
   
}

.col{
    margin: 60px 0;
}

.col .social-links a{
    padding: 0;
    margin: 0;
    font-size: 24px;
    }

.about-section img{
    max-width: 400px;
    display: block;
    margin: 50px auto;
    text-align: center;
}

.about-section ul{
    line-height: 3;
    list-style: none;
    color: var(--bege-color);
}

.about-me p{
color: var(--bege-color);
}

.card-body ul{
    padding: 20px 0 0;
    list-style: none;
    text-align: center;
    line-height: 2;
}

.contacts-grid {
    align-items: center;
   
}

.contacts-section a{
    color:var(--bege-color);
    text-decoration: none;
    
}

.contacts-section a:hover {
    color: var(--principal-color);
    text-decoration: none;
    transition: all 100ms ease-in-out;

}

footer p{
    color: var(--bege-color);
}

@media(max-width: 900px){
    h1{
        font-size: 30px ;
        margin: 0 0 20px;
    }
    h2{
        font-size: 20px;
    }

    .home img, .about-section img{
       max-width: 300px; 
    }

    .hero-section{
        padding: 10px;
    }

    p{
      margin: 10px 15px;
    }
    .row{
       padding: 0 15px;
    }
}
