:root {
    --heading-font-family: "Playfair Display",
        serif;
    --default-font-family: 'Poppins',
        sans-serif;
}

body{
font-family: var(--default-font-family);

}

.content{
    padding: 10px;

}

.home img{
    max-width: 100%;
    display: block;
    margin: 50px auto;
}

.hero-section, .project-section{
    padding: 20px 40px;
}
.about-section{
    padding: 280px 12px;
 }

h1{
    font-family: var(--heading-font-family);
    font-size: 44px;
}

h2 {
    font-size: 26px;
}

h3{
    font-size: 22px
}

p {
    font-size: 16px;
    line-height: 2;
    text-align: justify;
}

.hero-section img{
    max-width: 300px;
    display: block;
     margin: 50px auto;
}


.navigation-bar a{
    color: black;
    font-size: 18px;
}

.navigation-bar li.active a{
   color: green;
   text-decoration:underline;
}

.navigation-bar a:hover {
    color: green;
}


.social-links a {
    margin: 0 20px;
    color: black;
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 28px;
    transition: all 100ms ease-in-out;
}

.social-links a:hover {
    color: white;
    background: black;
   
}

.project{
    margin: 120px 0;
}

.contacts-section a{
    color:black;
    text-decoration: none;
    
}

.contacts-section a:hover {
    color: green;
    text-decoration: none;
    transition: all 100ms ease-in-out;

}